click
Flask
itsdangerous
Jinja2
MarkupSafe
pip
setuptools
Werkzeug
Flask-SQLAlchemy
Flask-Login
pyotp
crypto
pycryptodome
SQLAlchemy
wtforms
cryptography
flask_wtf
email-validator
pymysql
mariadb
WTForms
Flask-WTF
pytest
geopy

