click
Flask~=2.0.1
itsdangerous
Jinja2
MarkupSafe
pip
setuptools
Werkzeug~=2.0.1
Flask-SQLAlchemy==2.5.1
Flask-Login
pyotp
crypto~=1.4.1
pycryptodome==3.10.1
SQLAlchemy~=1.4.25
wtforms==2.3.3
cryptography==3.4.7
flask_wtf==0.15.1
email-validator
pymysql
mariadb
WTForms~=2.3.3
Flask-WTF

