html {
    background-color: #A5A58D;
}
body {
    width: auto;
    margin: 0 auto;
    background-color: #ffe8d6;
    padding: 0 20px 20px 20px;
    border: 2px solid #3f4238;
    border-top: none;
}

h1 {
    color: darkgreen;
    text-align: center;

}
h2 {
    text-align: center;
}


/*  navigation bar */
#navbarMenuHeroA{
    margin: auto auto 0 auto;
    text-align: center;
    background-color: #B7B7A4;
    border-bottom-style: solid;
    border-bottom-color: #3f4238;
    border-width: 3px;
    padding:10px;
}

#navbarMenuHeroA a{
    padding:10px;
    border-bottom-style: solid;
    border-bottom-color: #3f4238;
    background-color: #B7B7A4;
    font-size: 20px;
    font-family: monospace;
    font-weight: bolder;
    text-decoration: none;

}
#navbarMenuHeroA a:hover{
    background-color:  #3f4238;
    padding:10px;
    border-bottom-style: solid;
    border-bottom-color: #B7B7A4;
    transition: 1s;
}

 /* unvisited link */
a:link {
    color:#3f4238;
}
 /* visited link */
a:visited {
    color: #3f4238;
}
 /* hovering over link */
a:hover {
    color: #ffe8d6;
}
/*TODO: work on the color palette */
/*TODO: background */
