html {
    background-color: #A5A58D;
}
body {
    width: auto;
    margin: 0 auto;
    background-color: #ffe8d6;
    padding: 0 20px 20px 20px;
    border: 2px solid #3f4238;
    border-top: none;
}

h1 {
    color: darkgreen;
    text-align: center;

}
h2 {
    text-align: center;
    color: #D4C7B0;
    font-size: 30px;
    font-family: monospace;

}

/*  navigation bar */
#navbarMenuHeroA{
    margin: auto auto 0 auto;
    text-align: center;
    background-color: #D4C7B0;
    border-bottom-style: solid;
    border-bottom-color: #3f4238;
    border-width: 3px;
    padding:10px;
}

#navbarMenuHeroA a{
    padding:10px;
    border-bottom-style: solid;
    border-bottom-color: #3f4238;
    background-color: #D4C7B0;
    font-size: 20px;
    font-family: monospace;
    font-weight: bolder;
    text-decoration: none;

}
#navbarMenuHeroA a:hover{
    background-color:  #3f4238;
    padding:10px;
    border-bottom-style: solid;
    border-bottom-color: #D4C7B0;
    transition: 0.5s;
}

/*form box*/
.box{
    display: table;
    padding: 20px 150px;
    background-color: #3f4238;
    margin: 20px auto 20px auto;
    text-align: center;
    border-radius: 10px;
}

input {
    padding: 10px 30px;
    background: #A5A58D;
    margin-top: 10px;
    border: none;
    color: #3f4238;
    font-size: 20px;
    border-radius: 2px;
}

/*button*/
.button{
    background: #FFE8D6;
    border: none;
    color: #B98B73;
    padding: 10px 20px;
    text-align: center;
    border-radius: 2px;

}
.button:hover{
    background: #B98B73;
    border: none;
    color: #FFE8D6;
    padding: 10px 20px;
    text-align: center;
    transition: 0.5s;
}
.button:active{
    background: #B98B73;
    border: none;
    color: #FFE8D6;
    padding: 10px 20px;
    text-align: center;
    transition: 0.5s;
}

 /* unvisited link */
a:link {
    color:#3f4238;
}
 /* visited link */
a:visited {
    color: #3f4238;
}
 /* hovering over link */
a:hover {
    color: #ffe8d6;
}

/*TODO: work on the color palette */
/*TODO: background */
