html {
    background-color: #ffe6f3;
    font-family: monospace;
    align-content: center;
}
a:link{
    text-decoration: none;
    color: #261421;
}
a#pageName{
    color: #261421;
    font-size: 20px;
}
a:hover#pageName{
    color: #751a2c;
}

body {
    width: auto;
    margin: 0;
    background-color: #b33a3a;
    border: 2px solid #261421;
    border-top: none;
}

/* website's name */
h1 {
    text-align: center;
    color: #ffe6f3;
    font-size: 30px;
        background-color: #751a2c;
    padding: 10px;
}

h2 {
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    color: #ffe6f3;
    font-size: 30px;
}
h3{
    background-color: #b33a3a;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: left;
    color: #ffe6f3;
    font-size: 30px;
    display: table;
}

/* post/event title */
h4{
    text-align: center;
    color: #ffe6f3;
    font-size: 30px;
    background: #751a2c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
}
h4 a:link{
    text-decoration: none;
}
h4 a:hover{
    color: #ebc3cf;
    transition: 0.5s;
}
h5{
    text-align: left;
    color: #ffe6f3;
    font-size: 30px;
    display: table;
}

/*  navigation bar */
#navbarMenuHeroA{
    background-color: #261421;
    padding:10px;
}

/* links in the navigation bar */
#navbarMenuHeroA a{
    text-align: center;
    padding:10px;
    color:#ffe6f3;
    background-color: #261421;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}

#navbarMenuHeroA a:hover{
    background-color:  #ffe6f3;
    color: #261421;
    padding:10px;
    transition: 0.5s;
}

#navbarMenuHeroA .icon{
    display: none;
}

/*form box*/
.box {
    display: table;
    padding: 20px 150px;
    background-color: #261421;
    margin: 20px auto 20px auto;
    text-align: center;
    border-radius: 5px;
    width: 400px;
}

input {
    position: static;
    padding: 10px 30px;
    background: #ffe6f3;
    margin-top: 10px;
    border: none;
    font-size: 20px;
    border-radius: 2px;
    color: #261421;
}

/*error messages in forms*/
.error{
    color:  #ffe6f3;
    display: inline;
    position: relative;
}

/*submit button*/
.button {
    background: #b33a3a;
    color: #ffe6f3;
    width: auto;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 2px;
    margin: 10px auto;

}

.button:hover{
    background: #ffe6f3;
    color: #b33a3a;
    transition: 0.5s;
}
.button:active{
    background: #ffe6f3;
    color: #b33a3a;
    transition: 0.5s;
}

/* COMMENTS */
/* reply button */
.replybutton{
    background: #261421;
    color: #ffe6f3;
    width: auto;
    border: none;
    padding: 5px 10px;
    text-align: center;
    border-radius: 2px;
    margin: 10px auto;
}

.replybutton:hover{
    background: #751a2c;
    transition: 0.5s;
}

/* submit comment button */
#comment_submit{
    border: none;
    color: #ffe6f3;
    background: #261421;
    padding: 10px 20px;
    font-size: 20px;
}

#comment_submit:hover{
    background: #751a2c;
    transition: 0.5s;
}

.dropdown{
    font-size: 25px;
    border: none;
    color: #261421;
    background-color: #ffe6f3;
    padding: 5px 10px;
}

/* tab view */
.tabcontent{
    background-color: #261421;
    padding: 10px 20px;
    border-radius: 0 5px 5px 5px;
}

.tab {
    border: none;
    color: #ffe6f3;
    padding: 10px 20px;
}
.tablink {
    color: #261421;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffe6f3;
    border: none;
    padding: 10px 20px;

}


.tablink:hover{
    background-color: #261421;
    color: #ffe6f3;
    transition: 0.5s;
}
.tablink:focus{
    background-color: #261421;
    color: #ffe6f3;
}
/* blog posts */
.content{
    color: #261421;
    border-radius: 10px;
    background-color: #ffe6f3;
    width: 600px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 5px;
}
.tabcontent a:link{
    color: #ffe6f3;
    font-size: 25px;
    text-decoration: none;
}

.tabcontent a:hover{
    color: #ebc3cf;
    transition: 0.5s;
}

/* new post button*/
.tabcontent button{
    border: none;
    color: #ffe6f3;
    background: #b33a3a;
    padding: 5px 10px;
    font-size: 15px;
}

.tabcontent button:hover{
    background: #751a2c;
    transition: 0.5s;
}

/* create page */
.field {
    padding: 5px;
}
#mycharities{
    background: none;
    padding: 10px;
    width: 50%;

}
#mycharities:link{
    background-color: #ffe6f3;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
#following{
    background: none;
    padding: 10px;
    width: 50%;
}
#following:link{
    background-color: #ffe6f3;
    padding: 10px;
    color: #261421;
    border-radius: 5px;
    display: inline-block;
}
#following:visited{
    color: #261421;
}
/* TODO: Add padding and make contents centered */
textarea{
    background: #ffe6f3;
    width: 99%;
    height: 250px;
    font-size: 15px;
    border-radius: 3px;
    color: #261421;
}


#post-navbar {
    padding: 5px;
    text-align: left;

}
#update-navbar{
    margin-left: 5px;
    font-size: 20px;
    border-radius: 3px;
}

#update-navbar:link{
    color: #ffe6f3;
    background-color: #b33a3a;
    padding: 5px;
}
#update-navbar:hover{
    color: #ffe6f3;
    background-color: #751a2c;
    transition: 0.5s;
}
/* search results */
#results{
    background-color: #751a2c;
    color: #ffe6f3;
    text-align: center;
    width: 400px;
    margin: 20px auto 20px auto;
    padding: 20px 150px;

}

/* all users view */
#allUsers{
    width: 800px;
}
#userColumn {
    float: left;
    width: 33%;
    font-size: 20px;
}

#userRow{
    color: #ffe6f3;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

#topUserRow{
    color: #ffe6f3;
    background-color: #751a2c;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

/* all charities view */
#allCharities{
    width: 800px;
    padding:10px 20px;

}
#allCharities a:link, a:visited{
    color:#ffe6f3;
    font-weight: bolder;
    text-decoration: none;
}
#allCharities a:hover{
    color: #ebc3cf;
    transition: 0.5s;
}
#charityColumn {
    float: left;
    margin-bottom: 5px;
    padding-left: 5px;
    text-align: left;
    width: 33%;
    font-size: 20px;
}
#smallCharityColumn{
    float: left;
    text-align: left;
    width: 33%;
    font-size: 15px;
    color:#ffe6f3;
}
#charityRow{
    color:#ffe6f3;
    background-color: #751a2c;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
p{
    font-size: 15px;
}

/* map view*/
#changeDis{
    background-color: #261421;
      margin: auto auto 15px auto;
     width: 50%;
  padding: 10px;
    border-radius: 5px;
    text-align: center;
}

label{
    color: #ffe6f3;
    font-size: 25px;
display: block;

}
#map{
    border: 6px solid #261421;
}
.notification{
    color: #ffe6f3;
}

/* footer */
footer{
    color: #ffe6f3;
}
footer a:link{
    color: #ffe6f3;
    text-decoration: underline;
}
footer a:hover{
    color: #ebc3cf;
    transition: 0.5s;
}

/* comment that you are replying to */
.replying {
    background-color: #ebc3cf;
    transition: 0.25s;
}
input#submit.button3{
    position: relative;
    text-align: left;
}
input#submit.button3:hover{
    text-align: left;
    transition: 0.5s;
    color: #261421;
    background-color: #ffe6f3;

}
.follow{
    text-align: left;
    margin-bottom: 10px;
}

strong a:link{
    color: #261421;
}
strong a:visited{
    color: #261421;
}

p#introduction{
    margin: 0 auto 0 auto;
    width: 50%;
    color: #ffe6f3;
    background-color: #751a2c;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

/* track */
::-webkit-scrollbar-track {
  border-radius: 10px;

}

/* handle */
::-webkit-scrollbar-thumb {
  background: #261421;
  border-radius: 10px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #751a2c;
}

/*mobile view for max 1250px */
@media screen and (max-width: 1250px){
    .content{
        width: 100%;
        padding: 0;
    }
    .box{
        padding: 0 0 10px 0;
        width: 100%;
    }
    #allUsers.box{
        padding: 0;
        margin:0;
        width: 100%;
    }
    #topUserRow{
        padding: 0;
    }

    #userRow{
        font-size: 5px;
        padding: 0;

    }
     #allCharities.box{
        padding: 0;
        margin:0;
        width: 100%;
    }

    #smallCharityColumn{
        font-size: 5px;
        padding: 0;

    }
    .box #results{
        padding: 20px 60px;
    }
    #navbarMenuHeroA{
    background-color: #261421;
    padding:10px;
    }
    #navbarMenuHeroA a:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4)){
        display: none;
    }
    #navbarMenuHeroA a.icon{
        display: inline;
    }
}
@media screen and (max-width: 1000px) {

  #navbarMenuHeroA.responsive {position: relative;}
  #navbarMenuHeroA.responsive a.icon {
    position: relative;
  }
  #navbarMenuHeroA.responsive a {
      transition: 0.5s;
    float: none;
    display: block;
    text-align: center;
  }
}
/*mobile view for max 850px */
@media screen and (max-width: 850px){
    .box #results{
        padding: 20px 60px;
    }
    p#introduction{
        width: 75%;
    }
    #navbarMenuHeroA{
    background-color: #261421;
    padding:10px;
    }
    #navbarMenuHeroA a:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4)){
        display: none;
    }
    #navbarMenuHeroA a.icon{
        display: inline;
    }
}
@media screen and (max-width: 850px) {
  #navbarMenuHeroA.responsive {position: relative;
  }
  #navbarMenuHeroA.responsive a.icon {
    position: relative;
  }
  #navbarMenuHeroA.responsive a {
      transition: 0.5s;
    float: none;
    display: block;
    text-align: center;
  }
}

/*mobile view for max 650px */
@media screen and (max-width: 650px){
    #results{
        padding: 20px;
        width: 350px;
    }
    #navbarMenuHeroA{
    background-color: #261421;
    padding:10px;
    }

    #navbarMenuHeroA a:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4)){
        display: none;
    }

    #navbarMenuHeroA a.icon{
        display: inline;
    }

}
@media screen and (max-width: 650px) {
  #navbarMenuHeroA.responsive {
      position: relative;
  }

  #navbarMenuHeroA.responsive a.icon {
    position: relative;
  }

  #navbarMenuHeroA.responsive a {
      transition: 0.5s;
    float: none;
    display: block;
    text-align: center;
  }
}
