{% extends "base.html" %}

{% block content %}

    <h1 class="title is-2">Admin</h1>
    <div class="tab">
        <button class="tablink" onclick="tabView('Profile')" id="default">Profile</button>
        <button class="tablink" onclick="tabView('AllUsers')">All Users</button>
        <button class="tablink" onclick="tabView('Logs')">Logs</button>

        <div id="Profile" class="tabcontent">
            <h3> Profile </h3>
        </div>

        <div id="AllUsers" class="tabcontent">
            <h3> Users </h3>
        <div class="column is-5 is-offset-4">
        <div class="box">
            <form method="POST">
                <h2 class="title">Change Role</h2>
                <div class="field">
                    {{ form.hidden_tag() }}
                    <div class="control">
                        {{ form.email(class="input", placeholder="Email") }}
                    </div>
                    <div class="error">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}

                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.role(class="input", placeholder="New Role") }}
                    </div>
                    <div class="error">
                        {% for error in form.role.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div>
                    {{ form.submit(class="button is-info is-centered") }}
                </div>
            </form>
        </div>
    </div>

            <div class="box" id="allUsers">
                {% for user in users %}
                    <div class="row" , id="userRow">
                        <div class="column" id="userColumn">
                            <h2>Name</h2>
                            <p>{{ user.username }}</p>
                        </div>
                        <div class="column" id="userColumn">
                            <h2>Email</h2>
                            <p>{{ user.email }}</p>
                        </div>
                        <div class="column" id="userColumn">
                            <h2>Role</h2>
                            <p>{{ user.roleID }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="Logs" class="tabcontent">
            <h3> Logs </h3>
        </div>
    </div>
    <script>
        document.getElementById("default").click();
    </script>

{% endblock %}