<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Charity Website</title>
    <link rel="stylesheet" href="static\main.css" type="text/css"/>
</head>

<body>


<section class="hero is-primary is-fullheight">
{# TODO: Combine both navigation bars #}
{# TODO: Add drop down menu for phone view #}
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('register') }}" class="navbar-item">
                            Sign Up
                        </a>
                        <a href="{{ url_for('login') }}" class="navbar-item">
                            Login
                        </a>
                        <a href="{{ url_for('logout') }}" class="navbar-item">
                            Log out
                        </a>
                        <a href="{{ url_for('profile') }}" class="navbar-item">
                            Profile
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <nav class="navbar">
            <div id="navbarB" class="navbar-menu">
                <div class="navbar-end">
                    <a href="{{ url_for('index') }}" class="navbar-item">
                        Main Page
                    </a>
                    <a href="{{ url_for('explore') }}" class="navbar-item">
                        Explore
                    </a>
                    <a href="{{ url_for('map') }}" class="navbar-item">
                        Map
                    </a>
                    <a href="{{ url_for('search') }}" class="navbar-item">
                        Search
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</section>
</body>

</html>
