{% extends "base.html" %}

{% block content %}

    <h1 class="title is-1">{{ page.name }}</h1>

    <div class="tab">
        <button class="tablink" onclick="tabView('Profile')" id="default">Profile</button>
        <button class="tablink" onclick="tabView('Posts')">Posts</button>
        <button class="tablink" onclick="tabView('Events')">Events</button>
        {% if current_user.id == page.user_id %}
            <button class="tablink" onclick="tabView('Settings')">Settings</button>
        {% endif %}
        <div id="Profile" class="tabcontent">
            <h3>              {{ page.name }} </h3>
            <p>{{ page.description }}</p>
                <div class="box">
            <form method="POST">
                <div class="field">
                    {{ form.hidden_tag() }}
                <div>
                    {{ form.submit(class="button is-info is-centered") }}
                </div>
                </div>
            </form>
                </div>
            {% if page in current_user.pages %}
                <a href="{{ url_for('charity.create', page_id=page.id) }}" class="button2">
                    <button>New Post</button>
                </a>
                <a href="{{ url_for('charity.new_event', page_id=page.id) }}" class="button2">
                    <button>New Event</button>
                </a>
            {% endif %}

        </div>


        <div id="Posts" class="tabcontent">
            <h3> Posts </h3>
            <div class="box">
                {% for post in posts %}
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <h4>
                                    <a href="{{ url_for('charity.view', name=post.page, id=post.id) }}">{{ post.title }}</a>
                                </h4>
                                <p>
                                    {# TODO: Change page id to page name #}
                                    <strong>{{ post.page }}</strong>
                                    <small>{{ post.time_created.strftime('%d-%m-%Y %H:%M') }}</small>
                                    <br>
                                    {{ post.content }}
                                    <br>
                                    {% if page in current_user.pages %}
                                        <div id="post-navbar" class="navbar-menu">
                                            <div class="navbar-start">
                                                <a class="navbar-item" id="update-navbar"
                                                   href="{{ url_for('charity.update', id=post.id) }}">Update</a>
                                                <a class="navbar-item" id="update-navbar"
                                                   href="{{ url_for('charity.delete', id=post.id) }}">Delete</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
        <div id="Events" class="tabcontent">
            <h3> Events </h3>
            <div class="box">
                {% for event in events %}
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <h4>{{ event.name }}</h4>
                                <p>
                                    <strong>{{ event.page }}</strong>
                                    <small>{{ event.date.strftime('%d-%m-%Y') }}</small>
                                    <small>{{ event.time.strftime('%H:%M') }}</small>
                                    <small>{{ event.lat, event.lon }}</small>
                                    <br>
                                    {{ event.description }}
                                    <br>
                                    {% if page in current_user.pages %}
                                        <div id="post-navbar" class="navbar-menu">
                                            <div class="navbar-start">
                                                <a class="navbar-item" id="update-navbar"
                                                   href="{{ url_for('charity.delete_event', id=event.id) }}">Delete</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
        {% if current_user.id == page.user_id %}
            <div id="Settings" class="tabcontent">
                <h3> Settings </h3>
                <h3>Name</h3>
                <p>{{ page.name }}</p>
                <h5>Change Name</h5>
                <form method="POST" action="{{ url_for('charity.change_name', page_id=page.id) }}">
                    {{ change_name_form.hidden_tag() }}
                    {{ change_name_form.name() }}
                    {{ change_name_form.submit() }}
                </form>
                <h3>Description</h3>
                <p>{{ page.description }}</p>
                <h5>Change Description</h5>
                <form method="POST" action="{{ url_for('charity.change_desc', page_id=page.id) }}">
                    {{ change_desc_form.hidden_tag() }}
                    {{ change_desc_form.description() }}
                    {{ change_desc_form.submit() }}
                </form>
                <h3> Tags </h3>
                {% for tag in page.tags %}
                    <p>{{ tag.subject }}</p>
                {% endfor %}
                <h5> Add Tags </h5>
                <form method="POST" action="{{ url_for('charity.add_tag', page_id=page.id) }}">
                    {{ add_tag_form.hidden_tag() }}
                    {{ add_tag_form.subject() }}
                    {{ add_tag_form.submit() }}
                </form>
                <h5> Remove Tags </h5>
                <form method="POST" action="{{ url_for('charity.remove_tag', page_id=page.id) }}">
                    {{ remove_tag_form.hidden_tag() }}
                    {{ remove_tag_form.subject() }}
                    {{ remove_tag_form.submit() }}
                </form>
            </div>
            </div>
        {% endif %}
    <script>
        document.getElementById("default").click();
    </script>
{% endblock %}