{% extends "base.html" %}

{% block content %}

    <h1 class="title is-1">Profile</h1>

    <div class="tab">
        <button class="tablink" onclick="tabView('Profile')" id="default">Profile</button>
        <button class="tablink" onclick="tabView('Posts')">Posts</button>
        <button class="tablink" onclick="tabView('Settings')">Settings</button>

        <div id="Profile" class="tabcontent">
            <h3> Profile </h3>
        </div>

        <div id="Posts" class="tabcontent">
            <h3> MyCharities </h3>
            <div class="box">
            <input type="button" onclick="location.href='create';" value="Add new post" />
                {% for post in posts %}
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <h1>{{ post.title }}</h1>
                                <p>
                                    <strong>{{ post.username }}</strong>
                                    <small>{{ post.time_created.strftime('%d-%m-%Y %H:%M') }}</small>
                                    <br>
                                    {{ post.body }}
                                    <br>
                                <div id="navbarMenuHeroA" class="navbar-menu">
                                    <div class="navbar-start">
                                        <a class="navbar-item"
                                           href="{{ url_for('charity.update', id=post.id) }}">Update</a>
                                        <a class="navbar-item"
                                           href="{{ url_for('charity.delete', id=post.id) }}">Delete</a>
                                    </div>
                                </div>
                                </p>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>

        <div id="Settings" class="tabcontent">
            <h3> Settings </h3>
        </div>
    </div>
    <script>
        document.getElementById("default").click();
    </script>
{% endblock %}