{% extends "base.html" %}

{% block content %}

    <h1 class="title is-1">Profile</h1>

    <div class="tab">
        <button class="tablink" onclick="tabView('Profile')" id="default">Profile</button>
        <button class="tablink" onclick="tabView('Following')">Following</button>
        <button class="tablink" onclick="tabView('MyCharities')">My Charities</button>
        <button class="tablink" onclick="tabView('Settings')">Settings</button>

        <div id="Profile" class="tabcontent">
            <h3> {{ current_user.username }} </h3>
        </div>
     <div id="Following" class="tabcontent">
     {#   TODO: fix this#}
            <h3> Following </h3>
                {% for following in following %}
                    <p>{{ following }}</p>
                {% endfor %}
        </div>
        <div id="MyCharities" class="tabcontent">
            <h3> My Charities </h3>
            {% if pages %}
                <div class="content" id="mycharities">
                    {% for page in pages %}
                    <p><a href="{{ url_for('charity.page', id=page.id) }}">
                    {{ page.name }}
                    </a></p>
                    {% endfor %}
                </div>
            {% endif %}
            <a href="{{ url_for('charity_user.new_charity') }}" class="button2">
                <button>New Charity</button>
            </a>
            {% for charity in charities %}
                <a href="{{ url_for('charity.blog', name=charity.name) }}">{{ charity.name }}</a>
            {% endfor %}
        </div>
        <div id="Settings" class="tabcontent">
            <h3> Settings </h3>
            <h3>Username</h3>
                <p>{{ current_user.username }}</p>
                <h5>Change Username</h5>
                <form method="POST" action="{{ url_for('charity_user.change_name') }}">
                    {{ change_name_form.hidden_tag() }}
                    {{ change_name_form.name() }}
                    {{ change_name_form.submit() }}
                </form>
        </div>

    </div>
<script>
    document.getElementById("default").click();
</script>
{% endblock %}