{% extends "base.html" %}

{% block content %}
    <div class="tab">

        <button class="tablink" onclick="tabView('Posts')" id="default">Posts</button>
        <button class="tablink" onclick="tabView('Charities')">Charities</button>
        <button class="tablink" onclick="tabView('Events')">Events</button>


        <div id="Posts" class="tabcontent">
            <h3> Posts </h3>
            <div class="box">
                {% for post in posts %}
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <h4>
                                    <a href="{{ url_for('charity.view', name=post.page, id=post.id) }}">{{ post.title }}</a>
                                </h4>
                                <p>
                                    <strong>{{ post.page }}</strong> {# bit weird having the page id here #}
                                    <small>{{ post.time_created.strftime('%d-%m-%Y %H:%M') }}</small>
                                    <br>
                                    {{ post.content }}
                                    <br>
                                    {% if page in current_user.pages %}
                                        <div id="post-navbar" class="navbar-menu">
                                            <div class="navbar-start">
                                                <a class="navbar-item"
                                                   href="{{ url_for('charity.update', name=post.page, id=post.id) }}">Update</a>
                                                <a class="navbar-item"
                                                   href="{{ url_for('charity.delete', name=post.page, id=post.id) }}">Delete</a>
                                            </div>
                                        </div>
                                    {% endif %}
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
        <div id="Charities" class="tabcontent">
            <h3> Charities </h3>
            <div class="box" id="allCharities">
                {% for charity in charities %}

                    <div class="row" id="charityRow">
                        <div class="column" id="charityColumn">
                            <p><a href="{{ url_for('charity.page', id=charity.id) }}">{{ charity.name }}</a></p>
                        </div>
                        <div class="column" id="smallCharityColumn">
                            <p>{{ charity.description }}</p>
                        </div>

                        <div class="column" id="smallCharityColumn">
                            {% for tag in charity.tags %}
                                <p>{{ tag.subject }}</p>
                            {% endfor %}

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="Events" class="tabcontent">
            <h3> Events </h3>
            <div class="box">
                {% for event in events %}
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <h4>{{ event.name }}</h4>
                                <p>
                                    <strong>{{ event.page }}</strong>
                                    <small>{{ event.date.strftime('%d-%m-%Y') }}</small>
                                    <small>{{ event.time.strftime('%H:%M') }}</small>
                                    <small>{{ event.lat, event.lon }}</small>
                                    <br>
                                    {{ event.description }}
                                    <br>
                                </p>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>

    </div>
    <script>
        document.getElementById("default").click();
    </script>


{% endblock %}
