{% extends "base.html" %}

{% block content %}
    {#  TODO: Change layout #}
    <h1 class="title is-1">Post</h1>

    <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a href="{{ url_for('charity.view', id=post.id) }}">{{ post.title }}</a>
                        <p>
                            <strong>{{ post.username }}</strong>
                            <small>{{ post.time_created.strftime('%d-%m-%Y %H:%M') }}</small>
                            <br>
                            {{ post.content }}
                            <br>
                        <div id="post-navbar" class="navbar-menu">
                            <div class="navbar-start">
                                <a class="navbar-item"
                                   href="{{ url_for('charity.update', name=post.page, id=post.id) }}">Update</a>
                                <a class="navbar-item"
                                   href="{{ url_for('charity.delete', name=post.page, id=post.id) }}">Delete</a>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </article>
    </div>
{% endblock %}