{% extends "base.html" %}

{% block content %}

    <div class="tab">
        <button class="tablink" onclick="tabView('Profile')" id="default">Profile</button>
        <button class="tablink" onclick="tabView('Following')">Following</button>
        <button class="tablink" onclick="tabView('Settings')">Settings</button>

        <div id="Profile" class="tabcontent">
            <h3> {{ current_user.username }} </h3>
        </div>
        <div id="Following" class="tabcontent">
            <h3> Following </h3>
        </div>
        <div id="Settings" class="tabcontent">
            <h3> Settings </h3>
        </div>

    </div>
<script>
    document.getElementById("default").click();
</script>
{% endblock %}